
<% if book.favorited_by?(current_user) %>
  <p>
    <!--いいねされた後もう一度押したらいいねが削除されるようにしたいのでmethodはdelete-->
    <%= link_to book_favorites_path(book), method: :delete do %>
      ♥<%= book.favorites.count %>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to book_favorites_path(book), method: :post do %>
      <span class="red-heart">♥</span><%= book.favorites.count %>
    <% end %>
  </p>
<% end %>